.table {
    max-width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    color: rgb(51, 51, 51);
}

.table__caption {
    font-size: 26px;
    font-weight: 700px;
    text-transform: uppercase;
    margin: 15px 30px;
}

.table__cell--header {
    background-color: rgb(37, 186, 141);
    color: white;
    font-size: 18px;
}

.table__cell {
    padding: 14px 38px;
    text-align: center;
    border: 2px solid white;
}

.table__row:hover {
    transform: scale(1.015);
    transition-duration: 0.5s;
}

.table__row:nth-child(even) {
    background-color: #ddd;
}